.filters-box {
    background-color: #fff;
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.side-bar-dropdown {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    white-space: pre;
    min-width: 50%;
    max-width: 100%;
    height: auto;
}