.filters-box {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 1.2rem;
    z-index: 3
}

.side-bar-dropdown {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    white-space: pre;
    width: 100%;
    height: auto;
    z-index: 3;
}