.search-input {
    width: 50%;
    margin: 3rem 25% 1rem 25%;
    padding: 0.5rem 1rem;
    border-radius: 22px;
    outline: none;
    border: solid 2px #ccc;
    font-family: 'Poppins';
}

.search-graph-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.loading-chart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}