.line-chart-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 20%;
}

.line-chart-header h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5rem;
}

.line-chart-item {
    width: 89.5%;
    height: 40vh;
    margin: 0 auto;
}

#linechart {
    height: 100%;
}