.line-chart-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 20%;
}

.line-chart-header h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5rem;
}

.line-chart-item {
    width: 89.5%;
    margin: 0 auto;
    margin-top: 5rem;
}

#linechart {
    height: 100%;
}

.svg {
    display: block;
    width: 100%;
    height: 30rem;
    overflow: visible;
}

.svg rect.selection {
    stroke: none;
}

.autocomplete-list-line {
    width: 3rem;
}

.autocomplete-list-line li {
    border: solid 2px #ccc;
    border-top: none;
    list-style: none;
    padding: 0.5rem 1rem;
}

.autocomplete-list-line li:hover {
    cursor: pointer;
    background-color: yellow;
}

.input-line-wrapper {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-input {
    padding: 0.5rem 1rem;
    outline: none;
    border: solid 2px #ccc;
}