.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: auto;
    /*overflow-y:scroll; */
    width: 15%;
    height: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.side-bar-item-desc {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.question-wrapper {
    width: 2.5rem;
    height: 2.5rem;
}

.question-wrapper img {
    height: 70%;
    width: 40%;
    margin-left: 0.5rem;
    object-fit: contain;
}

.question-wrapper img:hover {
    cursor: pointer;
}

.stats-by-city-label, .products-price-label, .cities-comparison-label {
    position: absolute;
    background-color: #ccc;
    z-index: 10;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 6px;
}

.products-price-label, .cities-comparison-label, .stats-by-city-label {
    margin-top: 2rem;
    margin-left: 1.4rem;
}

.side-bar-item-wrapper {
    display: flex;
}

.logo-wrapper {
    height: 15%;
    width: 85%;
    margin: 0 auto;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-bar-items-bar-selection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.side-bar-items-bar-selection-elements {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.search-button {
    outline: none;
    background-color: #fff;
    border: solid 2px #ccc;
    border-radius: 6px;
    width: 70%;
    margin: 0 15% 2rem 15%;
    padding: 0.5rem 0.8rem;
    font-size: 15px;
}

.icon-search {
    margin-right: 0.5rem;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgb(238, 219, 219);
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar{width:6px;border-left:1px solid #E6ECF8;}

::-webkit-scrollbar-thumb{background-color:#dac6af;}