.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: auto;
    overflow-y:scroll; 
    width: 15%;
    height: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.logo-wrapper {
    height: 15%;
    width: 85%;
    margin: 0 auto;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-bar-items-bar-selection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
}

.side-bar-items-bar-selection-elements {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

::-webkit-scrollbar{width:6px;border-left:1px solid #E6ECF8;}

::-webkit-scrollbar-thumb{background-color:#dac6af;}