.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: auto;
    overflow-y:scroll; 
    width: 15%;
    height: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.logo-wrapper {
    margin-top: 1rem;
    height: 15%;
    width: 100%;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar{width:6px;border-left:1px solid #E6ECF8;}

::-webkit-scrollbar-thumb{background-color:#dac6af;}