.radar-chart-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 10%;
    margin-bottom: 1rem;
}

.radar-chart-header h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5rem;
}

.radar-dropdown-items {
    display: flex;
    gap: 2rem;
}

.radar-chart-item {
    height: 34rem;
    width: 89.5%;
    margin: 0 auto;
    margin-top: 5rem;
}

.radar-input-1, .radar-input-2 {
    outline: none;
    padding: 0.5rem 1rem;
}

.radar-input-1 {
    border: solid 2px steelblue;
}

.radar-input-2 {
    border: solid 2px #FBA76A;
}

.autocomplete1 {
    position: absolute;
    width: 10.75rem;
    top: 2.5rem;
    z-index: 10;
}

.autocomplete1 li {
    background-color: #fff;
    border: solid 2px #ccc; 
    border-top: none;
    list-style: none;
    padding: 0.5rem 1rem;
}

.autocomplete1 li:hover {
    cursor: pointer;
    background-color: #cee4fd;
}

.autocomplete2 {
    position: absolute;
    width: 10.75rem;
    top: 2.5rem;
    z-index: 10;
}

.autocomplete2 li {
    background-color: #fff;
    border: solid 2px #ccc; 
    border-top: none;
    list-style: none;
    padding: 0.5rem 1rem;
}

.autocomplete2 li:hover {
    cursor: pointer;
    background-color: #f3dbca;
}