.chart-option {
    width: 3rem;
    height: 3rem;
    background-color: rgb(249, 241, 241);
    padding: 0.5rem;
    border-radius: 6px;
}

.chart-option-active {
    width: 3rem;
    height: 3rem;
    background-color: #ccc;
    padding: 0.5rem;
    border-radius: 6px;
}

.chart-option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-option-wrapper p {
    font-size: 15px;
    margin-top: 0.2rem;
}

.chart-option:hover {
    cursor: pointer;
    background-color: #ccc;
}

.chart-option img, .chart-option-active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}